.delay-250 {
  animation-delay: 250ms!important;
}

.delay-1000 {
  animation-delay: 1000ms!important;
}

.delay-2000 {
  animation-delay: 2000ms!important;
}

.text-focus-in {
	animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.duration-3000 {
  transition-duration: 3000ms;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes grain {
  0%, 100% {transform: translate(0,0);}
  10% {transform: translate(-5%,-10%);}
  30% {transform: translate(3%,-15%);}
  50% {transform: translate(12%,9%);}
  70% {transform: translate(9%,4%);}
  90% {transform: translate(-1%,7%);}
}

.oscillate {
  transform-origin: center;
  animation: oscillate 6s ease-in-out alternate infinite;
}

@keyframes oscillate {
  0%,
  100% {
    transform: skew(0deg, 0deg) scale(0.995, 0.995);
    filter: saturate(100%) invert(0%);
  }
  
  25% {
    filter: saturate(90%) invert(1%);
  }
  
  50% {
    transform: skew(.5deg, .5deg) scale(1.005, 1.005);
    filter: saturate(100%) invert(0%);
  }
  
  75% {
    filter: saturate(110%) invert(2%);
  }
}